a{text-decoration: none;
margin-left: 15px;}
div{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
section{ 
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: aliceblue;
    padding: 12px;
    box-sizing: border-box;
}
h1{font-size: 18px;
margin-left: 45px;}
.LogIn{
    margin-left: 330px;
}
aside{background-color:aliceblue;
display: inline-block;
font-size: 16px;}
ol{margin-top: 25px;
}
li{margin-top: 16px;
list-style-type: none;}
.HTML{margin-bottom: 50px;}
.central{width: 700px;
position: absolute;}
.derecha{ position: absolute;
right: 200px;
bottom: 0px;
background-color: aliceblue;
height: 650px;}
*{background-color: aliceblue;}